@model WebApplication2.Models.Student
@{
    ViewData["Title"] = "Delete";
}
<h2>delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.Id)
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <div>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
            </div>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {

        <div class="form-actions no-color">
            <div id="Click"></div>
            <div id="show"></div>
            <button type="button" class="btn btn-default" name="btnShow">Click</button>
            <button type="button" class="btn btn-default" name="btnUpdate">Delete</button>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
        $(document).ready(function () {

            $("button[name=btnShow]").click(function () {
                $("#Click").load('/Student/Index');

            });
            $("button[name=btnUpdate]").click(function () {


                var id = $("#Id").val();

                $.ajax({
                    url: '@Url.Action("Delete1", "Student")',
                 
                    data: {id:id},
                    type: "POST",
                    dataType: "json",

                    success: function (data) {
                        $("#show").load('/Student/Index');

                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            });

        });


</script>
}